<h1>Tenant information goes here</h1>
<p><%= @tenant.full_name %></p>
<p>phone <%= @tenant.phone %></p>

<p>tenant id <%= @tenant.unit.size %></p>
<p>Unit name <%= @tenant.unit.name %></p>
<p>Rent <%= @tenant.unit.rent_amount %></p>
<p>Property <%= @tenant.unit.property.name %></p>